<#assign ctx=(rc.getContextPath())!''>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>${ctx}</title>
<!-- Styles --> 
<link type="text/css" href="${ctx}/resources/style/my-icons.css" rel="stylesheet" />
<link type="text/css" href="${ctx}/resources/ligerui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
<link type="text/css" href="${ctx}/resources/ligerui/skins/Gray/css/all.css" rel="stylesheet" />
<link type="text/css" href="${ctx}/resources/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />