<script type="text/javascript">
    var menu1 = { width: 120, items:
        [
        { text: '保存', click: itemclick },
        { text: '列存为', click: itemclick },
        { line: true },
        { text: '关闭', click: itemclick }
        ]
    };

    var menu2 = { width: 120, items:
        [
        {
            text: '文件', children:
            [
                { text: 'Excel', click: itemclick },
                { text: 'Word', click: itemclick },
                { text: 'PDF', click: itemclick },
                { text: 'TXT', click: itemclick },
                { line: true },
                { text: 'XML', click: itemclick }
            ]
        },
        ]
    };

    
    function itemclick(item)
    {
    	alert(item.text);
    }
</script>
<div id="topmenu" class="l-panel-topbar l-toolbar" style="height:20px;"></div>
<div style="height:40px;vertical-align: middle;">
<a class="ajaxify" href="${ctx}/dbview" target="#temploadDiv"><div class="my-icon my-icon-db-connect" style="float: left;"></div>&nbsp;快捷</a> 
</div>